@using EugeneFavsShop.Models
@model Products

@{
    ViewData["Title"] = "Detail";
}

<h1>Product Details</h1>

<b>Category: @Model.CategoryName</b>
<br />
<b>Product Name: @Model.ProductName</b>
<br />
<b>Description: @Model.ProductDescription</b>
<br />
<b>CategoryID: @Model.CategoryID</b>

